name: IndexNow

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  indexnow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Place IndexNow key
        run: |
          mkdir -p ./public
          echo "b50c0da8c7cd4d17a70d9847d60a3c4a" > ./public/b50c0da8c7cd4d17a70d9847d60a3c4a.txt

      - name: IndexNow Action
        uses: bojieyang/indexnow-action@v2
        with:
          sitemap-location: "https://nikki.ranaxro.com/sitemap.xml"
          since: 1
          since-unit: day
          endpoint: "www.bing.com"
          key: "b50c0da8c7cd4d17a70d9847d60a3c4a"
          key-location: "https://nikki.ranaxro.com/b50c0da8c7cd4d17a70d9847d60a3c4a.txt"
